<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ted_developers.triviapatente">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".app.utils.mApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:launchMode="singleTask"
        android:screenOrientation="portrait">
        <activity
            android:name=".app.views.access.FirstAccessActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".app.views.main_page.MainPageActivity"/>
        <activity android:name=".app.views.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.views.find_opponent.NewGameActivity"/>
        <activity
            android:name=".app.views.find_opponent.FindOpponentActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".app.views.game_page.GameMainPageActivity"/>
        <activity android:name=".app.views.game_page.ChooseCategoryActivity"/>
        <activity android:name=".app.views.AlphaView"/>
        <activity android:name=".app.views.game_page.play_round.PlayRoundActivity"/>
        <activity
            android:name=".app.views.game_page.ChatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".app.views.menu_activities.ChangeUserDetailsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".app.views.access.Login.CredentialsRecovery"/>
        <activity android:name=".app.views.menu_activities.ContactsActivity"/>
    </application>

</manifest>