<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.triviapatente.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="it.triviapatente.android.app.utils.mApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="adjustPan">
        <service
            android:name=".firebase.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".firebase.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity
            android:name="it.triviapatente.android.app.views.access.FirstAccessActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="it.triviapatente.android.app.views.main_page.MainPageActivity"
            android:screenOrientation="portrait" />
        <activity android:name="it.triviapatente.android.app.views.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="it.triviapatente.android.app.views.find_opponent.NewGameActivity"
            android:screenOrientation="portrait" />
        <activity android:name="it.triviapatente.android.app.views.find_opponent.FindOpponentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="it.triviapatente.android.app.views.game_page.GameMainPageActivity"
            android:screenOrientation="portrait" />
        <activity android:name="it.triviapatente.android.app.views.game_page.ChooseCategoryActivity"
            android:screenOrientation="portrait" />
        <activity android:name="it.triviapatente.android.app.views.AlphaView"
            android:screenOrientation="portrait" />
        <activity android:name="it.triviapatente.android.app.views.game_page.play_round.PlayRoundActivity"
            android:screenOrientation="portrait" />
        <activity android:name="it.triviapatente.android.app.views.game_page.ChatActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="it.triviapatente.android.app.views.menu_activities.ChangeUserDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="it.triviapatente.android.app.views.access.login.CredentialsRecovery"
            android:screenOrientation="portrait" />
        <activity android:name="it.triviapatente.android.app.views.menu_activities.ContactsActivity"
            android:screenOrientation="portrait" />
        <activity android:name="it.triviapatente.android.app.views.menu_activities.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity android:name="it.triviapatente.android.app.views.rank.RankActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="it.triviapatente.android.app.views.game_page.round_details.RoundDetailsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_round_details"
            android:parentActivityName="it.triviapatente.android.app.utils.baseActivityClasses.TPGameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.triviapatente.android.app.utils.baseActivityClasses.TPGameActivity" />
        </activity>
    </application>

</manifest>